<section class="row contactUsTile">
    <article class="col-sxs-12 col-sm-12 col-md-6 textTileLeft">

        <h1>CONTACT US</h1>
        <p>
            To serve global clients 24 hours a day, we have remote teams in:<br><br>
            <ul>
                <li>Nova Scotia</li>
                <li>New Orleans</li>
                <li>Belgium</li>
                <li>UK</li>
                <li>India</li>
            </ul>
        </p>
        <a type="button" class="btn" href="#">Log In to send us an email</a>

    </article>
    <article class="col-xs-12 col-sm-12 col-md-6 textTileRight">
        <div class="accordion-option">

            <!-- <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>-->

        </div>
        <div class="clearfix"></div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel ">
                <div class="panel-heading" role="tab" id="headingOne">
                    <hr>
                    <h1 class="panel-title">

                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Austin, Texas<i class="glyphicon glyphicon-large glyphicon-chevron-up"></i>
                            <i class="glyphicon glyphicon-large glyphicon-chevron-down"></i>
                        </a>
                    </h1>
                </div>
                <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <p>
                            106 East Sixth Street<br />
                            Suite 900<br />
                            Austin, TX, 78701 USA<br />

                            Tel: +1-512-879-4653<br />
                            info@contentbloom.com<br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel ">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <hr>
                    <h1 class="panel-title">

                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Toronto, Ontario<i class="glyphicon glyphicon-large glyphicon-chevron-up"></i>
                            <i class="glyphicon glyphicon-large glyphicon-chevron-down"></i>
                        </a>
                    </h1>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <p>
                            First Canadian Place<br />
                            100 King Street West, Suite 5700<br />
                            Toronto, ON, Canada M5X 1C7<br />

                            Tel: +1-647-827-1955<br />
                            info@contentbloom.com
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel ">

                <div class="panel-heading" role="tab" id="headingThree">
                    <hr>
                    <h1 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collcollapseThreeapseTwo">
                            Content Bloom India<i class="glyphicon glyphicon-large glyphicon-chevron-up"></i>
                            <i class="glyphicon glyphicon-large glyphicon-chevron-down"></i>
                        </a>
                    </h1>
                </div>
                <div id="collapseThree" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p>
                            Address: Sector 127, Noida, Uttar Pradesh 201313 <br />
                            Hours:  Open ⋅ Closes 8:30PM<br />
                            Phone: 0120 454 0027<br />
                        </p>
                    </div>
                </div>
            </div>
   
            </div>
        

            <div class="panel ">

                <div class="panel-heading" role="tab" id="headingSix">
                    <hr>
                    <h1 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Other Contact Information<i class="glyphicon glyphicon-large glyphicon-chevron-up"></i>
                            <i class="glyphicon glyphicon-large glyphicon-chevron-down"></i>
                        </a>
                    </h1>
                </div>
                <div id="collapseSix" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                        <p>
                            <ul>
                                <li>Nova Scotia</li>
                                <li>New Orleans</li>
                                <li>Belgium</li>
                                <li>UK</li>
                                <li>India</li>
                            </ul>
                        </p>

                    </div>
                </div>
            </div>

        </div>

    </article>
</section>