
 
    <!-- Header with Background Image -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                 <!--  <h1 class="display-3 text-center text-white mt-4">Hackathon</h1>--> 
                  
                </div>
            </div>
        </div>
    </header>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="mt-4">SDL Tridion</h2>
     
                    <p>Design, Build, Integrate</p>
                    <p>Creative, Responsive and Interactive designs for SDL-managed global and mobile websites.</a></p>
                    <p>Data services and software applications using .Net, Java and PHP.</a></p>
                    <p>Software and enterprise system integrations working together in harmony.</a></p>
                
                <p>
                    <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2 class="mt-4">Contact Us</h2>
                <address>
                    <strong>Hackathon</strong>
                    <br>1029Melrose Place
                    <br>Beverly Hills, CA 90210
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>
                    (123) 456-7890
                    <br>
                    <abbr title="Email">E:</abbr>
                    <a href="mailto:#">info@contentbloom.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-sm-4 my-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/image_it1.JPG" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Consultancy</h4>
                        
                        <p class="card-text">Strategy, Technology, Approach</p>
                        <p class="card-text">Requirements gathering through workshops, meetings and surveys to ensure technology decisions, business needs and customer experiences are met.</a></p>
                        <p class="card-text">Identifying emerging technology trends that hold the potential to transform our clients’ businesses.</a></p>
                   
                </div>
                    <div class="card-footer">
                        <a href="http://www.contentbloom.com/services/tridion/" class="btn btn-primary">Learn More!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 my-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/imgit2.JPG" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Support</h4>
                        
                        <p class="card-text">Hosting, Cloud, Installations</p>
                        <p class="card-text">Technical and professional support via managed services teams, project augmentation, software installations and upgrades, and web &amp; application hosting.</a></p>
                        <p class="card-text">Flexible help and support, working hard to keep everything in tip-top shape.</a></p>
                        
                    </div>
                    <div class="card-footer">
                        <a href="http://www.contentbloom.com/services/hosting-support/" class="btn btn-primary">Learn More!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 my-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/imgit3.JPG" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Experience and expertise</h4>
                        <p class="card-text">Our main area of expertise is in the design, delivery and hosting of&nbsp;<strong><a href="http://www.contentbloom.com/services/tridion/">SDL Tridion/SDL Web</a>&nbsp;</strong>applications. &nbsp;But our expertise doesn’t stop there.</p>
                        <p class="card-text">We also implement projects using a variety of Content Management Systems including Alfresco, SharePoint, Drupal and Silverstripe. &nbsp;Just as often, we create or enhance custom-built projects using .Net, Java and PHP.</p>
                        <p class="card-text">Training, <strong><a href="/services/consultancy/">consultancy</a>,</strong>&nbsp;and on-going <strong><a href="http://www.contentbloom.com/services/hosting-support/">support</a></strong> are some of the additional services we offer.</p>
                    </div>
                    <div class="card-footer">
                        <a href="http://www.contentbloom.com/about/" class="btn btn-primary">Learn More!</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
 